.wpscut_testimonials {
  position: relative;
}
.wpscut_wrapper {
  background-color: #efefef;
  padding: 35px 30px;
  border-radius: 10px;
}
.wpscut_reviews .dashicons {
  color: #FFC436;
}
.wpscut_reviews,
.wpscut_content {
  margin-bottom: 20px;
}
.wpscut_testimonials .wpscut_author_pic img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
  border: 1px solid #e1e1e1;
}
.wpscut_author {
  display: flex;
  align-items: center;
}
.wpscut_author_pic {
  margin-right: 15px;
}
.wpscut_testimonials .wpscut_author_bio h3 {
  margin: 0 0 3px;
  font-size: 18px;
}
.wpscut_testimonials .wpscut_author_bio p {
  margin: 0;
  font-size: 14px;
}
.wpscut_testimonials .wpscut_author_bio h3 {
  margin: 0 0 3px;
  font-size: 18px;
  line-height: 18px;
}
.wpscut_testimonials .swiper-button-next:after,
.wpscut_testimonials .swiper-button-prev:after {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.wpscut_testimonials .swiper-button-prev,
.wpscut_testimonials .swiper-button-next {
  background-color: rgba(0,0,0,0.3);
  height: 45px;
  width: 45px;
  border-radius: 50px;
  top: calc(50% - 45px);
}
.wpscut_testimonials .swiper-button-prev:hover,
.wpscut_testimonials .swiper-button-next:hover {
  background-color: #000;
}
.wpscut_testimonials .swiper-button-next.swiper-button-disabled,
.wpscut_testimonials .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background-color: #d9d9d9;
}
.wpscut_testimonials .swiper-button-disabled.swiper-button-next:after,
.wpscut_testimonials .swiper-button-disabled.swiper-button-prev:after {
  color: #000;
}
.wpscut_testimonials .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}
.wpscut_testimonials .swiper-pagination-bullet-active {
  background-color: #1450a3;
}
.wpscut_testimonials .swiper.swiper-initialized {
  padding-bottom: 50px;
}

@media screen and (max-width: 1250px) and (min-width: 769px) {
  .wpscut_testimonials .swiper.swiper-initialized {
    max-width: 88%;
  }
  .wpscut_testimonials .swiper-button-next {
    right: 5px;
  }
  .wpscut_testimonials .swiper-button-prev {
    left: 5px;
  }
}
@media screen and (max-width: 980px) and (min-width: 640px) {
  .wpscut_testimonials .swiper.swiper-initialized {
    max-width: 85%;
  }
  .wpscut_testimonials .swiper-button-next {
    right: 0px;
  }
  .wpscut_testimonials .swiper-button-prev {
    left: 0px;
  }
}
@media screen and (max-width: 649px) {
  .wpscut_testimonials .swiper.swiper-initialized {
    max-width: 92%;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
